@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #938056;
}

.logos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-meio{
margin: 0 auto;
}

.logo-voltar{
position: absolute;
margin: 20px;
}

.main {
    background-color: #EEE6D5;
    width: 45vw;
    height: 65vh;
    margin: 0 auto;
    border-radius: 18px;
}

h1{
    font-family: 'Hammersmith One', sans-serif;
    color: #796650;
    text-align: center;
    font-size: 25px;
    padding-bottom: 1rem;
    font-weight: 600;
    padding-top: 1rem;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 0 200px auto;
    margin-top: 30px
}

.forms input{
    margin-bottom: 2rem;
    border: none;
    height: 5vh;
    padding-left: 1rem;
}

.atu {
    appearance: none;
    background-color: #796650;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    color: #C5B188;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 20vw;
    margin: 0 auto;
  }

  .atu:disabled {
    pointer-events: none;
  }

  .atu:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .atu:active {
    box-shadow: none;
    transform: translateY(0);
  }


